/*csslint ids: false*/

/**************************************
GENERAL
**************************************/
body {
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
  /*max-width is related to width. But instead of width, max-width that it can be smaller for mobile devices/tablets.*/
	max-width: 940px;
  /*Margin 0 is for all sides*/
	margin: 0 auto;
	background-color: white;
  /*Values first one is top and bottom. Second one is left and right.*/
	padding: 0 5%;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

h3 {
	margin: 0 0 1em 0;
}

/**************************************
HEADER
**************************************/
header {
  float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

#logo {
  /*our name and description of who we are.*/
	text-align: center;
	margin: 0;
}

h1 { 
  font-family: 'Sarala', serif;
  margin: 15px 0;
  font-size: 1.75em;
}

h2 {
	font-size: 0.75em;
  /*1st value is for top. 2nd value is for left and right. 3rd value is for the bottom*/
	margin: -5px 0 0;
	font-weight: normal;
}

/**************************************
NAVIGATION
**************************************/
nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;	 
}

nav ul {
	list-style: none;
	padding: 10px 0;
	margin: 0 10px;
}

nav li {
	display: inline-block;	
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}
/**************************************
FOOTER
**************************************/
footer {
	font-size: 0.75em;
	text-align: center;
	padding-top: 50px;
	color: #ccc;
	clear: both;
}
.social-media-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

/**************************************
PAGE PORTFOLIO
**************************************/
#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: white;
	
}

#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: black;
}


 


/**************************************
ABOUT ME PAGE
**************************************/
.profile-photo {
  display: block;
	max-width: 0 auto 30px;
	border-radius: 25%;
}




/**************************************
CONTACT PAGE
**************************************/
.contact-info{
  display: block;
	padding: 0;
	margin: 0;
	font-size: 0.9px;
}



.contact-info a {
	display: block;
	min-height: 20px;
  /* by default it will always repeat, background images*/
	background-repeat: no-repeat;
  /*re-rise the background img*/
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}

.contact-info li.mail a {
	background-image: url('../img/mail.png');
}

.contact-info li.instagram a {
	background-image: url('../img/instagram.png');
}






/**************************************
COLORS
**************************************/
body {
	background-color: white;
	color: black;
}

a {
	color: white;
}

header {
	background: black;
}

h1, h2 {
	color: red;
}

nav {
	background: red;
}

/*Pseudo-Class */
nav a, nav a:visited{
	color: 
}

nav a.selected, nav a:hover	  {
	color: red;
}

/**************************************
MEDIA Querie
**************************************/
/*TWO COLUMN LAYOUT*/

@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}

@media screen and (min-width: 480px){
	#primary {
		width: 50%px;
		float: left;
	}
	
	#secondary {
		width: 40%;
		float: right;
	}
  /*THREE COLUMN LAYOUT PORTFOLIO*/
	#gallery li{
		width: 28.3333%;
	}
	#gallery li:nth-child(4n){
		clear: left;
	}
  /*ABOUT PAGE*/
	.profile-photo {
		float: left;
		margin: 0 5% 80px 0;
	}
}

@media screen and (min-width: 660px){
  /*NAV*/
	nav {
		background: none;
		float: right;
		font-size: 1.125em;
		margin-right: 5%;
		text-align: right;
		width: 45%;
	}
	#logo {
		float: left;
		margin-left: 5%;
		text-align: left;
		width: 45%;
	}
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 0.82em;
		margin-bottom: 20px;
	}
	header {
		border-bottom: 5px solid red;
		margin-bottom: 60px;
	}
}














